{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% if user %}
        <h1>Welcome {{user}}!</h1> 
    {% else %}
        <h1>Welcome!</h1> 
    {% endif %}
    {% if message %}
        <div class="notify" style="color: aqua;" >{{message}}</div>
    {% endif %}
    <form action="/addexpense" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="e-name" placeholder="groceries">
        <label for="amount">Amount</label>
        <input type="number" id="amount" name="e-amount" min="1" step="any" placeholder="64.65">
        <label for="category">Category</label>
        <input type="text" id="category" name="e-category" placeholder="food (optional)">
        <label for="owner">Owner</label>
        <input type="text" id="owner" name="e-owner" placeholder="John (optional)">
        <label for="date">Date</label>
        <input type="date" id="date" name="e-date" placeholder="optional default is today's date">
        <input type="submit" value="Submit">
    </form>
{% endblock %}
