<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/main.js"></script>

    <title> My Financial Tracker</title>

</head>

<body>
    <nav class="thenav">
        <a class="navlink thenav__link" href="/">
            <div> My Financials </div>
        </a>
        <a class="navlink thenav__link" href="/">
            <div> Export Record </div>
        </a>
        <button type="button" class="navlink btn-form btn-import">Import CSV file</button>
        <a class="navlink thenav__link" href="/logout">
            <div class="logout"> {{username}}, Logout </div>
        </a>
    </nav>
    <h1>My Financials</h1>
    {% if message %}
        <div class="notify" style="color: red;">{{message}}</div>
    {% endif %}
    <main class="root">
        <div class="table-buttons">
            {% if table != 'goals' and table != 'debt' %}
            <div class="data-buttons">
                <button class="btn data-buttons__left"><</button>
                <span>{{month}} {{year}}</span>
                <button class="btn data-buttons__right">></button>
            </div>
            {% endif %}

            <div class="add-buttons">
                <button type="button" class="btn" id="add-record-button">Add</button>
                <button type="button" class="btn btn-add btn-form btn-addexpense">Add expense</button>
                <button type="button" class="btn btn-add btn-form btn-addspending">Add spending</button>
                <button type="button" class="btn btn-add btn-form btn-addgoal">Add goal</button>
                <button type="button" class="btn btn-add btn-form btn-adddebt">Add debt</button>
                <button type="button" class="btn btn-add btn-form btn-addincome">Add income</button>
            </div>
            <div class="tablename" style="display: none;">{{table}}</div>
        </div>
        <nav class="tablenav">
            <a class="navlink tablenav__link" href="#" onclick="window.location=`/myexpenses/${window.location.href.split('/').pop()}`">
                <div> My Expenses </div>
            </a>
            <a class="navlink tablenav__link" href="#" onclick="window.location=`/myspending/${window.location.href.split('/').pop()}`">
                <div> My Spending </div>
            </a>
            <a class="navlink tablenav__link" href="#" onclick="window.location=`/myincome/${window.location.href.split('/').pop()}`">
                <div> My Income </div>
            </a>
            <a class="navlink tablenav__link" href="/mygoals/">
                <div> My Goals </div>
            </a>
            <a class="navlink tablenav__link" href="/mydebt/">
                <div> My Debt </div>
            </a>
        </nav>
        {% block main %}{% endblock %}
    </main>

</body>

</html>
