<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/main.js"></script>

    <title> My Financial Tracker</title>

</head>

<body>
    <nav class="thenav">
        <a class="navlink thenav__link" href="/">
            <div> My Financials </div>
        </a>
        <a class="navlink thenav__link" href="/">
            <div> Export Record </div>
        </a>
        <button type="button" class="navlink btn-form btn-import">Import CSV file</button>
        <a class="navlink thenav__link" href="/logout">
            <div class="logout"> {{username}}, Logout </div>
        </a>
    </nav>
    <h1>My Financials</h1>
    {% if message %}
    <div class="notify" style="color: aqua;">{{message}}</div>
    {% endif %}
    <main class="root">
        <div class="add-buttons">
            {% if table == "expenses" %}
                <button type="button" class="btn btn-add btn-form btn-addexpense">Add expense</button>
            {% elif table == "spending" %}
                <button type="button" class="btn btn-add btn-form btn-addspending">Add spending</button>
            {% elif table == "goals" %}
                <button type="button" class="btn btn-add btn-form btn-addgoal">Add goal</button>
            {% elif table == "debt" %}
                <button type="button" class="btn btn-add btn-form btn-adddebt">Add debt</button>
            {% elif table == "income" %}
                <button type="button" class="btn btn-add btn-form btn-addincome">Add income</button>
            {% endif %}
        </div>
        <nav class="tablenav">
            <a class="navlink tablenav__link" href="/myexpenses">
                <div> My Monthly Expenses </div>
            </a>
            <a class="navlink tablenav__link" href="/myspending">
                <div> My Spending </div>
            </a>
            <a class="navlink tablenav__link" href="/mygoals">
                <div> My Goals </div>
            </a>
            <a class="navlink tablenav__link" href="/mydebt">
                <div> My Debt </div>
            </a>
            <a class="navlink tablenav__link" href="/myincome">
                <div> My Income </div>
            </a>
        </nav>
        {% block main %}{% endblock %}
    </main>

</body>

</html>
