<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/main.js"></script>

    <title> My Financial Tracker</title>

</head>

<body>
    <div class="loginpage">
        <h1>My Financials</h1>
        <div class="login-container">
            {% if newuser %}
            <h1>Sign up</h1>
            {% else %}
            <h1>Login</h1>
            {% endif %}
 
            <form class="form-login" action="" method="post">
                <input type="text" placeholder="Username" name="username" value="{{
                            request.form.username }}" autofocus required>
                <input type="password" placeholder="Password" name="password" value="{{
                            request.form.password }}" required>
                {% if newuser %}
                <input class="btn btn-submit" type="submit" value="Register">
                {% else %}
                <input class="btn btn-submit" type="submit" value="Login">
                {% endif %}
            </form>
            {% if error %}
            <div class="error"><strong>Error:</strong> {{ error }} </div>
            {% endif %}
            {% if not newuser %}
            <a href="/newuser">Don't have an account? Register here!</a>
            {% else %}
            <a href="/login">Go back to login.</a>
            {% endif %}
        </div>
    </div>
</body>

</html>
