{% extends "layout-MF.html" %}

{% block main %}
<div class="tablecontainer">
    <table class="maintable">
        <tr>
            <th>Target Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Owner</th>
        </tr>
        {% if rows %}
        {% for row in rows: %}
        <tr>
            <!-- Date -->
            <td>{{row[0]}}</td>
            <!-- Name -->
            <td>{{row[1]}}</td>
            <!-- Amount -->
            <td>${{row[2]}}</td>
            <!-- Owner -->
            <td>{{row[4]}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
