{% extends "layout-MF.html" %}

{% block main %}
<div class="" >
    <table id="etable">
        <tr class="tr tr-headers">
            <th>Due Date</th>
            <th>Name</th>
            <th>Expected</th>
            <th>Spent</th>
            <th>Repeats</th>
            <th>Owner</th>
        </tr>
        {% if rows %}
        {% for row in rows: %}
        <tr class="tr e-data">
            <!-- ID -->
            <td class="rid" style="display: none;">{{row[0][0]}}</td>
            <!-- Date -->
            <td>{{row[0][1]}}</td>
            <!-- Name -->
            <td>{{row[0][2]}}</td>
            <!-- Expected -->
            <td>{{row[0][3]}}</td>
            <!-- Spent -->
            <td>{{row[1]}}</td>
            <!-- Repeats -->
            <td>{{row[0][4]}}</td>
            <!-- Owner -->
            <td>{{row[0][5]}}</td>
        </tr>
            <td colspan="6" class="subtable-container {{"stc-{}".format(row[0][0])}}">
            {% if row[2] %}
            <!-- spending subtable -->
                <table class="tr-even">
                    <tr class="str str-headers">
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Linked Expense</th>
                        <th>Category</th>
                        <th>Owner</th>
                    </tr>
                    {% for row in row[2]: %}
                    <tr class="str str-data">
                        <!-- ID -->
                        <td class="rid" style="display: none;">{{row[0]}}</td>
                        <!-- Date -->
                        <td>{{row[1]}}</td>
                        <!-- Name -->
                        <td>{{row[2]}}</td>
                        <!-- Amount -->
                        <td>{{row[3]}}</td>
                        <!-- Linked Expense -->
                        <td>{{row[4]}}</td>
                        <!-- Category -->
                        <td>{{row[5]}}</td>
                        <!-- Owner -->
                        <td>{{row[6]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            </td>
        {% endfor %}
        {% if etotal %}
        <tr class="tr tr-total">
            <td>Total:</td>
            <td></td>
            <td>{{etotal}}</td>
            <td>{{stotal}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
        {% endif %}
    </table>
</div>
{% endblock %}
