{% extends "layout-MF.html" %}

{% block main %}
<div class="tablecontainer">
    <table>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Expected</th>
            <th>Spent</th>
            <th>Category</th>
            <th>Owner</th>
        </tr>
        {% if rows %}
        {% for row in rows: %}
        <tr>
            <!-- Date -->
            <td>{{row[0]}}</td>
            <!-- Name -->
            <td>{{row[1]}}</td>
            <!-- Expected -->
            <td>${{row[2]}}</td>
            <!-- Spent -->
            <td>$0</td>
            <!-- Category -->
            <td>{{row[3]}}</td>
            <!-- Owner -->
            <td>{{row[4]}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
