{% extends "layout-MF.html" %}

{% block main %}
<div class="tr-even">
    <table class="maintable">
        <tr class="tr-headers">
            <th>Target Date</th>
            <th>Name</th>
            <th>Target</th>
            <th>Amount</th>
            <th>Owner</th>
        </tr>
        {% if rows %}
        {% for row in rows: %}
        <tr class="tr-data">
            <!-- ID -->
            <td class="rid" style="display: none;">{{row[0]}}</td>
            <!-- Date -->
            <td>{{row[1]}}</td>
            <!-- Name -->
            <td>{{row[2]}}</td>
            <!-- Target -->
            <td>${{row[3]}}</td>
            <!-- Amount -->
            <td>${{row[4]}}</td>
            <!-- Owner -->
            <td>{{row[5]}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
