{% extends "layout-MF.html" %}

{% block main %}
<div class="tablecontainer">
    <table >
        <tr class="tr-headers">
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Owner</th>
        </tr>
        {% if rows %}
        {% for row in rows: %}
        <tr class="tr-data">
            <!-- Date -->
            <td>{{row[0]}}</td>
            <!-- Name -->
            <td>{{row[1]}}</td>
            <!-- Amount -->
            <td>${{row[2]}}</td>
            <!-- Type -->
            <td>{{row[3]}}</td>
            <!-- Owner -->
            <td>{{row[4]}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
