{% extends "layout-MF.html" %}

{% block main %}
<div class="tr-even">
    <table >
        <tr class="tr-headers">
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Owner</th>
        </tr>
        {% if rows %}
        {% for row in rows: %}
        <tr class="tr-data">
            <!-- ID -->
            <td class="rid" style="display: none;">{{row[0]}}</td>
            <!-- Date -->
            <td>{{row[1]}}</td>
            <!-- Name -->
            <td>{{row[2]}}</td>
            <!-- Amount -->
            <td>{{row[3]}}</td>
            <!-- Type -->
            <td>{{row[4]}}</td>
            <!-- Owner -->
            <td>{{row[5]}}</td>
        </tr>
        {% endfor %}
        {% if total %}
        <tr class="tr-total">
            <td>Total:</td>
            <td></td>
            <td>{{total}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endif %}
        {% endif %}
    </table>
</div>
{% endblock %}
